// Fonts
$primary_font: 'Alegreya Sans';

// Media query
$media-phone-width: 360px;
$media-phablet-width: 480px;
$media-tablet-width: 768px;
$media-laptop-width: 992px;
$media-desktop-width: 1200px;
$media-tv-width: 1440px;

// Colors
$white: #fffffe;
$light: #f9f4ef;
$normal: #eaddcf;
$dark: #8c7851;
$darker: #716040;
$black: #020826;
$accent: #f25042;

// Other
$border_radius: 5px;
