html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
  background-color: #f9f4ef;
  font-size: 1.6rem;
  font-weight: 500;
  color: #020826;
  overflow-x: hidden;
}
body * {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body *:after,
body *:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: #f9f4ef;
  border-left: 1px solid #f9f4ef;
}
body::-webkit-scrollbar-thumb {
  background: #f25042;
  border-radius: 5px;
}
.container {
  position: relative;
  margin: 0 auto;
  padding: 0 1.5rem;
}
@media only screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media only screen and (min-width: 576px) {
  .container {
    padding: 0 3rem;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
section:not(.hero),
footer {
  padding: 7rem 0;
}
section:not(.hero) .headline,
footer .headline {
  margin-top: 0;
}
.headline {
  font-size: 4.8rem;
}
.subheadline {
  font-size: 2.4rem;
}
a {
  color: #020826;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: #f25042;
}
button {
  cursor: pointer;
  transition: all 0.2s;
}
p {
  font-weight: 400;
  color: #716040;
  line-height: 1.5;
}
ul {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
[class*='scroll_to'] {
  cursor: pointer;
  transition: color 0.2s;
}
[class*='scroll_to']:hover {
  color: #f25042;
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v21/5aUv9_-1phKLFgshYDvh6Vwt7V9V3G1W.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v21/5aUo9_-1phKLFgshYDvh6Vwt7V9VFE92jg.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v21/5aUt9_-1phKLFgshYDvh6Vwt7V9tuA.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v21/5aUo9_-1phKLFgshYDvh6Vwt7V9VTE52jg.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v21/5aUo9_-1phKLFgshYDvh6Vwt7V9VBEh2jg.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v21/5aUo9_-1phKLFgshYDvh6Vwt7V9VGEt2jg.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v21/5aUt9_-1phKLFgshYDvh6Vwt5TltuA.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v21/5aUu9_-1phKLFgshYDvh6Vwt5fFPmE0.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v21/5aUz9_-1phKLFgshYDvh6Vwt3V0.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v21/5aUu9_-1phKLFgshYDvh6Vwt5alOmE0.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v21/5aUu9_-1phKLFgshYDvh6Vwt5eFImE0.ttf) format('truetype');
}
@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alegreyasans/v21/5aUu9_-1phKLFgshYDvh6Vwt5f1LmE0.ttf) format('truetype');
}
@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
header.fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}
@media only screen and (min-width: 576px) {
  header.fixed {
    padding: 0 3rem;
  }
}
header.fixed::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  height: 100%;
  background-color: #f9f4ef;
}
header nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #020826;
  font-size: 2.4rem;
  font-weight: bold;
}
header nav .hamburger {
  background: transparent;
  border: 0;
}
@media only screen and (min-width: 576px) {
  header nav .hamburger {
    display: none;
  }
}
header nav .hamburger_box {
  position: relative;
  display: block;
  width: 40px;
  height: 60px;
}
header nav .hamburger_inner {
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #020826;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.2s ease-in-out;
}
header nav .hamburger_inner:before,
header nav .hamburger_inner:after {
  content: '';
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #020826;
  transition: transform 0.2s ease-in-out;
}
header nav .hamburger_inner:before {
  top: -10px;
}
header nav .hamburger_inner:after {
  top: 10px;
}
header nav.toggled .hamburger_inner {
  background-color: transparent;
}
header nav.toggled .hamburger_inner:before {
  transform: translateY(10px) rotate(-45deg);
}
header nav.toggled .hamburger_inner:after {
  transform: translateY(-10px) rotate(45deg);
}
header nav ul {
  position: absolute;
  top: 60px;
  right: -1.5rem;
  width: 50vw;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #f9f4ef;
  transition: height 0.2s linear;
  height: 0;
  overflow: hidden;
}
header nav ul li {
  padding: 1rem 2rem;
}
header nav ul li:not(:last-child) {
  border-bottom: 1px solid #020826;
  margin-bottom: 1rem;
}
@media only screen and (min-width: 576px) {
  header nav ul {
    position: relative;
    top: 0;
    right: 0;
    transform: none;
    width: auto;
    flex-direction: row;
    height: auto;
    overflow: visible;
  }
  header nav ul li:not(:last-child) {
    border-bottom: 0;
    margin-bottom: 0;
    margin-right: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  header nav ul li:not(:last-child) {
    margin-right: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  header nav ul li:not(:last-child) {
    margin-right: 5rem;
  }
}
@keyframes scrollDown {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
@media only screen and (min-width: 992px) {
  .hero {
    justify-content: space-between;
  }
}
.hero_text_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  .hero_text_wrapper {
    text-align: left;
    align-items: flex-start;
  }
}
.hero_text_wrapper p {
  color: #716040;
  font-size: 2.4rem;
}
.hero_headline {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  color: #020826;
  white-space: nowrap;
}
.hero_headline > :nth-child(2) span {
  position: relative;
}
.hero_headline > :nth-child(2) span::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: -3px;
  height: 100%;
  width: 100vw;
  background-color: #eaddcf;
}
.hero_img_wrapper {
  display: none;
}
@media only screen and (min-width: 992px) {
  .hero_img_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    transform: translateY(4rem);
  }
}
@media only screen and (min-width: 1200px) {
  .hero_img_wrapper {
    transform: translateY(5.3rem);
  }
}
.hero i.icon-down-open {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  transition: color 0.2s;
}
.hero i.icon-down-open:hover {
  color: #f25042;
}
.hero i.icon-down-open::before {
  font-size: 5rem;
  cursor: pointer;
  animation-name: scrollDown;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@media only screen and (min-width: 992px) {
  .hero i.icon-down-open {
    left: 0;
    transform: none;
  }
}
.about {
  position: relative;
}
.about::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  margin-left: -50vw;
  height: 100%;
  width: 100vw;
  background-color: #fffffe;
}
.about_headline {
  width: 100%;
  text-align: center;
}
.about_content {
  display: grid;
  grid-template-columns: 100%;
  gap: 1.5rem;
}
@media only screen and (min-width: 992px) {
  .about_content {
    grid-template-columns: 30% 70%;
    gap: 7rem;
  }
}
.about_img_wrapper {
  order: 1;
  justify-self: center;
}
@media only screen and (min-width: 992px) {
  .about_img_wrapper {
    order: 0;
  }
}
.about_text_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
@media only screen and (min-width: 992px) {
  .about_text_wrapper {
    grid-column: 2 / 3;
    text-align: left;
    max-width: 60rem;
  }
}
.works_content {
  display: grid;
  grid-template-columns: 100%;
  gap: 7rem;
}
@media only screen and (min-width: 992px) {
  .works_content {
    grid-template-columns: 1fr 1fr;
  }
}
.works_description {
  text-align: justify;
}
@media only screen and (min-width: 992px) {
  .works_description {
    position: sticky;
    top: calc(60px + 7rem);
    margin-bottom: auto;
  }
}
.works_card {
  padding: 3rem;
  background: #fffffe;
}
.works_card:not(:last-child) {
  margin-bottom: 3rem;
}
.works_card_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works_card_top_name {
  font-size: 1.8rem;
  font-weight: bold;
}
.works_card_top_status {
  color: #f25042;
}
.works_card_description {
  text-align: justify;
}
.works_card_links {
  margin-bottom: 1em;
}
.works_card_links a {
  color: #f25042;
  transition: all 0.2s;
}
.works_card_links a:hover {
  color: #716040;
}
.works_card_bottom {
  display: flex;
  flex-direction: column;
}
.works_card_bottom_label {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.works_card_bottom_tech_list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}
.works_card_bottom_tech_item {
  padding: 5px 8px;
  background: #8c7851;
  color: #fffffe;
  border-radius: 5px;
  font-weight: bold;
}
.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fffffe;
}
.contact .headline {
  margin-bottom: 0;
}
.contact_description {
  margin-bottom: 7rem;
}
.contact::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  margin-left: -50vw;
  height: 100%;
  width: 100vw;
  background-color: #8c7851;
}
.contact_content {
  display: grid;
  grid-template-columns: 100%;
  gap: 7rem;
}
@media only screen and (min-width: 992px) {
  .contact_content {
    grid-template-columns: 1fr 1fr;
  }
}
.contact_img_wrapper {
  display: none;
}
@media only screen and (min-width: 992px) {
  .contact_img_wrapper {
    display: block;
  }
}
.contact_form {
  display: flex;
  flex-direction: column;
}
.contact_form_item {
  border: 0;
  outline: 0;
  background: #eaddcf;
  color: #716040;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}
.contact_form #contact_form_submit {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0;
  transition: color 0.2s;
}
.contact_form #contact_form_submit:hover {
  color: #f25042;
}
@media only screen and (min-width: 768px) {
  .contact_form #contact_form_submit {
    padding: 1.5rem 3rem;
    margin-right: auto;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.footer_description {
  max-width: 45rem;
  font-weight: 500;
}
.footer .social_media {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}
.footer .social_media_label {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.footer .social_media_item {
  margin-bottom: 1rem;
}
.footer .social_media_item a {
  color: #716040;
}
.footer .social_media_item a:hover {
  color: #f25042;
}
.footer_policy {
  width: 100%;
  margin-top: 5rem;
}
.thankyou {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
