@use '../base/variables' as *;
@use '../mixins/breakpoints' as *;

.works {
	&_content {
		display: grid;
		grid-template-columns: 100%;
		gap: 7rem;

		@include media-laptop {
			grid-template-columns: 1fr 1fr;
		}
	}

	&_description {
		text-align: justify;

		@include media-laptop {
			position: sticky;
			top: calc(60px + 7rem);
			margin-bottom: auto;
		}
	}

	&_card {
		padding: 3rem;
		background: $white;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}

		&_top_name {
			font-size: 1.8rem;
			font-weight: 700;
		}

		&_description {
			text-align: justify;
		}

		&_links {
			margin-bottom: 1em;
		}

		&_link {
			color: $white;
			background-color: $black;
			border-radius: $border_radius;
			padding: 5px 8px;
			transition: all 0.2s;

			&:hover,
			&:active,
			&:target {
				color: $white;
				opacity: 0.8;
			}
		}

		&_bottom {
			display: flex;
			flex-direction: column;

			&_label {
				font-size: 1.8rem;
				font-weight: 700;
				margin-bottom: 1.5rem;
			}

			&_tech_list {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-wrap: wrap;
				gap: 1rem;
				list-style: none;
			}

			&_tech_item {
				padding: 5px 8px;
				color: $darker;
				border: 2px solid $darker;
				border-radius: $border_radius;
				font-weight: 700;
			}
		}
	}
}
